/**web/assets/css/base/css.css**/
/**Fichier de base**/

.red{
	background-color: red;
}
/**GLOBAL**/

h2{
	padding-top: 1%;
	color: #1e395a;
	white-space: nowrap;
	overflow-x: hidden;
    width: 100%; 
    text-overflow: ellipsis; 
	padding-bottom: 15px;
}
.under-white{
	padding-bottom: 5px;
	border-bottom: 4px solid white;
}

.under-blue{
	padding-bottom: 3px;
	border-bottom: 4px solid #1e395a;
}

.height{
	min-height: 100%;
}

body, html{
	min-height:100%;
}


.notice {
    padding: 3px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
	
}
.error {
    padding: 3px;
    background-color: #fafafa;
    border-left: 6px solid #a83403;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
	
}


/**btn**/
.btn-blue{
	font-family: Arial;
	color: #1e395A;
	font-size: 16px;
	border: solid #1e395A 1px;
	display: inline-block;
	padding: 1px 15px 1px 15px;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue:visited {
	color: #1e395A;
	text-decoration: none;
	padding: 0px 14px 0px 14px;
	border: solid #1e395A 2px;
}


#form_submit{
	color: #1e395A;
	font-size: 16px;
	border: solid #1e395A 1px;
	display: inline-block;
	padding: 8px 16px 8px 16px;
	border-radius: 0px;
	cursor: pointer;
}
#form_submit:hover, #form_submit:focus, #form_submit:active, #form_submit:visited {
	text-decoration: none;
	padding: 7px 15px 7px 15px;
	border: solid #1e395A 2px;
}





/**Navigation**/

#navigation nav{
	background-color: #1e395A;
	height:100%;
}


#navigation .menu>ul{
	list-style-type:none;
}

#navigation .menu a{
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
}

#navigation .menu-lien li{
	text-align:center;
	border-left : 2px solid white;
}

#navigation .menu>ul{
	margin-bottom :0;			
}

#navigation .menu-lien{
	margin-top: 40px;
}

#navigation .menu-connection{
	font-size: 14px;
	color: white;
}



#navigation .navbar-brand .logo, #navigation .navbar-brand a{
	width: auto;
	padding-top: 0px;
	margin-top: 0px;
	float:left;
}


/**xs sm **/
@media (max-width: 767px) {
	#navigation .navbar-brand .logo, #navigation .navbar-brand a{
		height: 35px;
	}

	h1{
		font-size: 20px;
	}
	#navigation .menu-connection .nav-tiret{
		display: none;
	}
}

/**lg md**/
@media (min-width: 768px){
	#navigation .navbar-brand .logo, #navigation .navbar-brand a{
		height: 80px;
	}
	h1{
		font-size: 30px;
		margin-top: 15px;
	}
}
