{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Add Article
{% endblock %}

{% block body %}

		<h3>Create an article</h3>
		<p> {{ include("@PSProject/Article/formArticle.html.twig") }}</p>

{% endblock %}

