{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Article
{% endblock %}

{% block body %}

		<h3>Article</h3>
		<p> {{ include("@PSProject/Article/formArticle.html.twig") }}</p>

{% endblock %}
