{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Add Information
{% endblock %}

{% block body %}

		<h3>Add information</h3>
		<p> {{ include("@PSProject/Information/formInformation.html.twig") }}</p>

{% endblock %}

