{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Add Participant
{% endblock %}

{% block body %}

		<h3>Add participant</h3>
		<p> {{ include("@PSProject/Participant/formParticipant.html.twig") }}</p>

{% endblock %}

