{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Add Participant
{% endblock %}

{% block content %}
<container class="container-project container-fluid">
	<div class="project-article col-lg-10 offset-lg-1">
		<h2><span class="lettrine">A</span>dd participant</h2>
		<p> {{ include("@PSProject/Participant/formParticipant.html.twig") }}</p>
	</div>
</container>
{% endblock %}

