{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Edit Participant
{% endblock %}

{% block content %}
<container class="container-project container-fluid">
	<div class="project-article col-lg-10 offset-lg-1">
		<h2><span class="lettrine">E</span>dit {{participant.user.username}}'s permissions </h2>
		<p> {{ include("@PSProject/Participant/formEditParticipant.html.twig") }}</p>
	</div>
</container>

{% endblock %}
