{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Add Project
{% endblock %}

{% block content %}

		<h3>Create a project</h3>
		<p> {{ include("@PSProject/Project/formProject.html.twig") }}</p>

{% endblock %}

