
{# src/PS/ProjectBundle/Resources/views/Project/deleteProject.html.twig #}

{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Delete Project
{% endblock %}

{% block content %}
<container class="container-project container-fluid">
		<div class="project-article col-lg-10 offset-lg-1">
			<h2><span class="lettrine">D</span>elete this project</h2>
      <div class="col-md-4 offset-md-4 message">
        <p>Are you sure to remove the {{project.name}} project?</p>    
        <form action="{{ path('ps_project_delete_project',{'idproject': project.id, 'keyproject': project.keyproject }) }}" method="post">
          <a class="btn cancel-btn" href="{{ path('ps_project_edit_project', {'idproject': project.id, 'keyproject': project.keyproject }) }}" class="btn btn-default">      Cancel</a>
          <input type="submit" value="Delete" class="btn delete-project" />
          {{ form_rest(form) }}
        </form>
      </div>
  </div>
</container>

{% endblock %}