@font-face {
 font-family: "Garamont" !important;
 src: url("https://fonts.googleapis.com/css?family=EB+Garamond"); 
    }

.aside-participants {
    background-color: #030642;
    color: white;
    font-family: trebuchet MS, sans-serif;
    }
.aside-participants h3{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Garamont', serif;
    }
.aside-participants ul {
    padding-left:0px; 
    }
.aside-participants li {
    border-bottom: 1px solid white;
    list-style-type: none;
    margin-left: 0px;
    }
.aside-participants li>a {
    background-color: transparent;
    border: none;
    padding: 0px;
    position: absolute;
        right: 15px;
    opacity:1;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }
.aside-participants li>a  span {
    color: #c10000;} 
.aside-participants li>a:hover {
    opacity: 0.9;
    }
.aside-participants>a {
    background-color: #c10000;
    color:white;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 1.4rem;
    opacity: 1;
    transition: 0.4s;
    margin-bottom: 20px;
    }
.aside-participants>a:hover {
    opacity: 0.9;
    text-decoration: none;
    color: white;
    }

.container-project {
    font-family: 'Garamont', serif;
    color: #303030;
    }
.container-project h1{
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 800;
    }
.container-project h1::first-letter,.container-project .lettrine{
    color: #c10000;    
    }
.container-project h2, .container-project h3 {
    display: table;
    white-space: nowrap;
    margin-bottom: 20px;}
.container-project h2{
    margin-top: 20px;}
.container-project h2::after, .container-project h3::after {
      border-bottom: 4px solid #030642;
      content: '';
      display: table-cell;
      position: relative;
      bottom: 0.2em;
      width: 90%;
      left: 5px;
    }
     
.container-project .oi-cog {
    font-size: 1.2rem;
    color: #bfbfbf;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }
.container-project .oi-cog:hover {
    color: #303030;
    }

.project-article .article-list {
    margin: 0px 0px 20px; 
    }
.article-list>a{    
    margin-bottom: 20px;
    text-decoration: none;}
.article-list>a>div{        
    -moz-box-shadow: 4px 4px 12px #aaa; 
    -webkit-box-shadow: 4px 4px 12px #aaa; 
    box-shadow: 4px 4px 12px #555;  }
.article-name {
    line-height: normal;
    text-align: left;
    background-color: #f3f3f3;
    height: 10%;} 
.article-name p{
    color:#bfbfbf;
    padding-top: 5px;
    padding-left: 5px;
    font-family: Trebuchet MS, sans-serif;}
.article-list img{
    width: 100%;
    height: auto;}    
.article-list .add-article>div {
    line-height: 200px;
    width: 100%;
    height: 200px;
    font-family: Trebuchet MS, sans-serif;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    text-align:center;     
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;}

.article-list>a .oi-plus {
    color: #bfbfbf;
    vertical-align:middle;
    font-size: 3rem;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.article-list>a:hover{
    text-decoration: none;}
.article-list>a:hover p {
    color: #303030;}
.article-list>a:hover span {
    color: #303030;
    }
.article-card img {
    height: 200px;
    width: auto;}


.project-informations{
    margin-bottom: 30px;}
.submitted-informations{
    margin-bottom: 20px;}
.add-information{
    width: 100%;
    height: 50px;
    line-height: 50px;    
    }
.add-information a {
    font-family: trebuchet MS, sans-serif;
    font-size: 1.5rem;
    color: #bfbfbf;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.add-information .oi-plus {
    color: #bfbfbf;
    vertical-align:middle;
    font-size: 2rem;
    padding-bottom: 5px;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.add-information a:hover,.add-information a:hover .oi-plus{
    color:#303030;
    text-decoration: none;}

.informations {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: #f3f3f3;
    margin-bottom: 10px;
    }
.informations .content-info{    
    flex-grow: 2;
    margin-bottom: 0px;
    padding: 0px 5px 0px 5px;
    font-family: trebuchet MS;
    color: #303030;
    }
.informations .validate, .informations .refuse, .informations .download{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    flex-shrink: 0;
    border-left: 1px solid;
    }
.informations .download, .informations .download-file{
    color: #030642;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.informations .download-file:hover{
    text-decoration: none;
}

.informations .download-file:hover .download{
    color: white;
    background-color: #030642;
    }
.informations .validate{
    color: green;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.informations .validate:hover{
    color: white;
    background-color: green;
    }
.informations .refuse{
    color: #c10000;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.informations .refuse:hover{
    color: white;
    background-color: #c10000;
    }


.header{
	width: 100%;
	height: 100px;
    padding-top: 20px;
	background-color: #303030;
	text-align: left;
	position: relative;
}

.footer{
    width: 100%;
	height: 100px;
    padding-top: 20px;
	background-color: #303030;
	text-align: left;
	position: relative;
	position: fixed;
}

.red{
    font-weight: bold;
    color: #c00000;
    font-family: 'Trebuchet MS','sans-serif';
}

.white{
    color: white;
    position: absolute;
    top: 29px;
    left: 70px;
    font-size: 40px;
    font-family: 'Garamont';
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.vl {
    border-left: 2px solid grey;
    margin-right: 6px;
    margin-left: 4px;
}

.link{
    text-decoration: none !important;
    color: white !important;
}

.link:hover{
    text-decoration: none !important;
    color: white !important;
}

.logo-hover{
    cursor: pointer;
}

.logo-hover:hover{
    opacity: 0.8;
    cursor: pointer;
}



