@font-face {
 font-family: "Garamont" !important;
 src: url("https://fonts.googleapis.com/css?family=EB+Garamond"); 
    }

.alert-block{
	z-index: 2; 
	opacity: .99 !important;
	position:absolute;
	width: 100%;
	background-color: #efefef;
	border-radius: 1px;

	-moz-box-shadow: 4px 4px 12px #aaa; 
    -webkit-box-shadow: 4px 4px 12px #aaa; 
    box-shadow: 4px 4px 12px #555;
	
}


.aside-participants {
    background-color: #030642;
    color: white;
    font-family: trebuchet MS, sans-serif;
    }
.aside-participants h3{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Garamont', serif;
    margin-top: 10px;
    }
.aside-participants ul {
    padding-left:0px;
    margin-bottom: 20px; 
    }
.aside-participants li {
    border-bottom: 1px solid white;
    list-style-type: none;
    margin-left: 0px;
    display: flex;
    align-items: center;
    }
.aside-participants li>a {
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0 5px;
    opacity:1;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }
.aside-participants li>p{
    margin: 0;
    display: inline;
    flex-grow: 1;
    }
.aside-participants li>a  span {
    line-height: inherit;
    color: #c10000;}
.aside-participants li>a .oi-pencil{
    color: white;
    } 
.aside-participants li>a:hover {
    opacity: 0.85;
    }
.aside-participants>a {
    background-color: #c10000;
    color:white;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 1.4rem;
    opacity: 1;
    transition: 0.4s;
    margin-bottom: 20px;
    }
.aside-participants>a:hover {
    opacity: 0.9;
    text-decoration: none;
    color: white;
    }

.container-project {
    font-family: 'Garamont', serif;
    color: #303030;
    }
.container-project h1{
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 800;
    }
.container-project h1::first-letter,.container-project .lettrine{
    color: #c10000;    
    }
.container-project h2, .container-project h3 {
    display: table;
    white-space: nowrap;
    margin-bottom: 20px;}
.container-project h2{
    font-size: 2.5rem;
    margin-top: 20px;}
.container-project h2::after, .container-project h3::after {
      border-bottom: 4px solid #030642;
      content: '';
      display: table-cell;
      position: relative;
      bottom: 0.2em;
      width: 90%;
      left: 5px;
    }
     
.container-project .oi-cog {
    font-size: 1.2rem;
    color: #bfbfbf;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }
.container-project .oi-cog:hover {
    color: #303030;
    }

.project-article .article-list {
    margin: 0px 0px 20px; 
    }
.article-list>a{    
    margin-bottom: 20px;
    text-decoration: none;}
.article-list>a>div{        
    -moz-box-shadow: 4px 4px 12px #aaa; 
    -webkit-box-shadow: 4px 4px 12px #aaa; 
    box-shadow: 4px 4px 12px #555;  }
.article-name {
    line-height: normal;
    text-align: left;
    background-color: #f3f3f3;
    height: 10%;
    display: flex;
    justify-content: space-between;} 
.article-name p{
    color:#bfbfbf;
    padding: 5px;
    font-family: Trebuchet MS, sans-serif;
    display: inline-block;}
.article-list img{
    width: 100%;
    height: 250px;}    
.article-list .add-article>div, .article-list .default-img{    
    width: 100%;
    font-family: Trebuchet MS, sans-serif;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    text-align:center;     
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;}
.article-list .add-article>div{
    line-height: 300px;
    height: 300px;
    }
.article-list .default-img{
    line-height: 250px;
    height: 250px;}
.article-list>a .oi-plus, .article-list>a .oi-align-left, .article-list>a .oi-book {
    color: #bfbfbf;
    vertical-align:middle;
    font-size: 3rem;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.article-list>a:hover{
    text-decoration: none;}
.article-list>a:hover p {
    color: #303030;}
.article-list>a:hover span {
    color: #303030;
    opacity: 1
    }
.article-card img {
    height: 200px;
    width: auto;}
.article-list .oi-pencil{
    position: absolute;
    top: 16px;
    left: 45px;
    opacity: 0;
    font-size: 2rem;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.project-informations{
    margin-bottom: 30px;}
.submitted-informations{
    margin-bottom: 20px;}
.add-information{
    width: 100%;
    height: 50px;
    line-height: 50px;    
    }
.add-information a {
    font-family: trebuchet MS, sans-serif;
    font-size: 1.5rem;
    color: #bfbfbf;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.add-information .oi-plus {
    color: #bfbfbf;
    vertical-align:middle;
    font-size: 2rem;
    padding-bottom: 5px;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.add-information a:hover,.add-information a:hover .oi-plus{
    color:#303030;
    text-decoration: none;}

.informations {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: #f3f3f3;
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }
.informations .content-info{    
    flex-grow: 2;
    margin-bottom: 0px;
    padding: 0px 5px 0px 5px;
    font-family: trebuchet MS;
    color: #303030;
    }
.informations .validate, .informations .refuse, .informations .download{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    flex-shrink: 0;
    border-left: 1px solid;
    }
.informations .download, .informations .download-file{
    color: #030642;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.informations .download-file:hover{
    text-decoration: none;
    }

.informations .download-file:hover .download{
    color: white;
    background-color: #030642;
    }
.informations .validate{
    color: green;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.informations .validate:hover{
    color: white;
    background-color: green;
    }
.informations .refuse{
    color: #c10000;
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
.informations .refuse:hover{
    color: white;
    background-color: #c10000;
    }


.header{
	width: 100%;
    padding: 20px 0;
	background-color: #303030;
	position: relative;
    }
.header>div>a{
    display: flex;
    align-items: center;
    color: #c10000;
    }
.header>div>a:hover{
    text-decoration: none;
    color: #c10000;
    }

.footer{
    width: 100%;
    padding-top: 20px;
	background-color: #303030;
	text-align: left;
	position: relative;
    padding-bottom: 20px;
    }
.footer img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    }
.footer .contact{
    display: flex;
    flex-direction: row-reverse;
    }

.red{
    font-weight: bold;
    color: #c00000;
    font-family: 'Trebuchet MS','sans-serif';
    }

.white{
    color: #bfbfbf;
    font-size: 40px;
    font-family: 'Garamont';
    }

.dot {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
    }

.vl {
    border-left: 2px solid grey;
    margin-right: 6px;
    margin-left: 4px;
    }

.link{
    text-decoration: none !important;
    color: white !important;    
    }  

.link:hover{
    text-decoration: none !important;
    color: white !important;
    }

.logo-hover{
    transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

.logo-hover:hover{
    opacity: 0.8;
    }
.submit-btn{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;}
.submit-btn button{
    background-color: #030642;
    cursor: pointer;
    border: none;
    margin: 10px;
    }
.submit-btn button:hover{    
    background-color: #030642;    
    }
.form label{
    font-family: Trebuchet MS;    
    }
.form-group>div {
    margin-bottom: 15px;
    }
.delete-project{
    background-color: #c10000;
    color: white;
    margin: 10px;
    font-family: sans-serif;
    cursor: pointer;
    }
.delete-project:hover, .cancel-btn:hover, .return-project:hover{
    color: white;
    }
  .return-project{
    background-color: #030642;
    color: white;
    margin: 10px 0;
    font-family: sans-serif;
    cursor: pointer;
    }  
.reload{
    background-color: #030642;
    }
.reload span{
    color:white;
    }
.reload:hover{
    background-color: white;
    border: 1px solid #030642;
    }
.reload:hover span{
    color:#030642;
    }
.cancel-btn{
    background-color: #030642;
    color: white;
    margin: 10px;
    font-family: sans-serif;
    }
.message{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.message p{
    width: 100%;
    font-family: trebuchet MS, sans-serif;
    color: #c10000;
    font-size: 1.2rem;
    text-align: center;
    }
.my-article{
    padding-left: 15px;
}